/* Universal Section  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Section  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#inria-sans {
  font-family: "Inria Sans", sans-serif;
  font-style: normal;
}

/* Common Style  */
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    padding: 12px 16px;
}

body {
    background-color: #FFFFFF;
    
}

nav {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav .logo{
    margin: 16px 0px 16px 120px;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
}

.menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

nav div button{
    margin: 24px 120px 24px 0;

}