/* Universal Section  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Section  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#inria-sans {
  font-family: "Inria Sans", sans-serif;
  font-style: normal;
}

/* Common Style  */
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    padding: 12px 16px;
}

body {
    background-color: #FFFFFF;
    
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav .logo{
    margin: 16px 0px 16px 120px;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
}

.menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

nav div button{
    margin: 24px 120px 24px 0;

}

/* Banner Section */
.banner {
    background: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.badge {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 16px;
    color: #469165;
    font-weight: 500px;
}

.banner h1 {
    font-size: 3.5rem;
    margin: 20px 0;
}

.text-green { color: #30B868; }

.banner p {
    max-width: 700px;
    margin: 0 auto 30px;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.9;
}

.btn-img{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;

}

.btn-second{
    padding: 11px 16px;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
}

/* Notes and Cards */
.nots { padding: 50px; 
    text-align: center; 
}

.nots h2{
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
}

.nots p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

.nots-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.nots-grid h3{
    font-weight: 600px;
    color: #001931;
}

.nots-grid{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.card {
    padding: 24px 24px;
    border: 1px solid #eee;
    border-radius: 8px;
    transition: 0.3s;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.card:hover { transform: translateY(-5px); box-shadow: 0 10px 20px rgba(0,0,0,0.05); }

.card img { width: 40px; margin-bottom: 20px; }

.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%; 
}

.circle img{
    width: 50%;
    height: auto;
    object-fit: contain;
    align-items: center;
}

/* Solution Section */
.solution{
    margin: 120px;
}
.solution-content {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 80px 0;
}

.solution-text{
    padding: 102px auto 102px 60px;
}


.features-list { list-style: none; margin-top: 20px; }

.features-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.features-list img { width: 20px; }
.sub-label {
    font-size: 16px;
    color: #469165;
    font-weight: 500px;
}

.solution-text h2{
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
}

.solution-text p{
    font-size: 16px;
}

/* Ready Section */
.ready { 
    padding: 2px 120px 120px 120px;
 }

.ready-box {
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px 24px 40px;
}

.ready-box h2{
    font-weight: 800px;
    font-size: 40px;
}

.ready-box {
    font-size: 16px;
}


/* Footer */
footer {
    background-color: #001931;
    color: white;
    padding: 60px 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}

.footer-content{
    padding: 120px 120px 80px 120px;
}
.copyright { text-align: center; 
    margin-top: 20px; 
    font-size: 16px; 
    color: #FAFAFA;
    line-height: 24px;
     }