/* Universal Section  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Section  */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

#inria-sans {
  font-family: "Inria Sans", sans-serif;
  font-style: normal;
}

/* Common Style  */
.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    padding: 12px 16px;
}

body {
    background-color: #FFFFFF;
    
}

nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav .logo{
    margin: 16px 0px 16px 120px;
}

.menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 32px;
}

.menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

nav div button{
    margin: 24px 120px 24px 0;

}

/* Banner Section */
.banner {
    background: linear-gradient(rgba(10, 25, 47, 0.85), rgba(10, 25, 47, 0.85)), url(./assets/Bookmarks.png);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.hero-content{
    width: 1360px;
}

.badge {
    background: #FFFFFF;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    color: #469165;
}

.hero-content{
    gap: 16px;
}

.text-green{
    color: #30B868;
}

.btn-second{
    border: 1px solid white;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 16px;
    padding: 12px 16px;
    background-color: transparent;
}

h1{
    opacity: 90%;
    padding: 16px;
}

.banner p{
   font-size: 18px;
   padding: 16px;
}